# BME280 on Raspberry Pi I2C1 (pins 3=SDA / 5=SCL, address 0x76)

# IMPORTANT:
# - Only keep this [mcu rpi] if you do NOT already have one
#   in another cfg file (e.g. accelerometer / input shaper).
# - If you already have [mcu rpi] somewhere: DELETE this block
#   and keep only the existing one.

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[temperature_sensor chamber_temp]
sensor_type: BME280

# Use the Raspberry Pi as I2C controller
i2c_mcu: rpi

# Linux I2C device /dev/i2c-1 → i2c.1 in Klipper
i2c_bus: i2c.1

# From i2cdetect -y 1 (you saw 76)
i2c_address: 0x76

# Optional but nice:
gcode_id: CHAMB
# min_temp: 0
# max_temp: 80

# =======================================================================================================
# =======================================================================================================
# [mcu rpi] # Not needed if used before
# serial: /tmp/klipper_host_mcu 

# [software_i2c bme_bus]
# i2c_mcu: rpi
# sda_pin: rpi:gpio5
# scl_pin: rpi:gpio6
# speed: 400000

# [temperature_sensor chamber_temp]
# sensor_type: BME280
# i2c_mcu: rpi
# i2c_bus: bme_bus
# # i2c_address: 118     # bara om du behöver 0x76 vs 0x77
# min_temp: 0
# max_temp: 80
# gcode_id: CHAMBER

# # [temperature_sensor chamber]
# # sensor_type: BME280
# # i2c_address: 118 # RIP WIRINGPI
# # #   Default is 118 (0x76). Some BME280 sensors have an address of 119
# # #   (0x77).
# # i2c_mcu: rpi
# # i2c_bus: i2c.1
# # #i2c_speed:
# # #   See the "common I2C settings" section for a description of the
# # #   above parameters.

# # [gcode_macro QUERY_CHAMBER]
# # gcode:
# #     {% set sensor = printer["bme280 chamber"] %}
# #     {action_respond_info(
# #         "Temperature: %.2f C\n"
# #         "Pressure: %.2f hPa\n"
# #         "Humidity: %.2f%%\n"
# #         "Gas Level: %.2f VOC" % (
# #             sensor.temperature,
# #             sensor.pressure,
# #             sensor.humidity,
# #             sensor.gas_level))}