# printer.cfg – Prusa Mini+
# PGe-10 edition 😎

# -----------------------------------------------------------------------------
# Cheat sheet:
# - mainsail.cfg: UI macros and helpers for Mainsail
# - macros.cfg: main print / filament macros (PRINT_START, M600, etc.)
# - prusa-mini-plus.cfg: hardware configuration for the Prusa Mini+
# - shell_command.cfg: backup and shell helper commands
# - macros/custom_macros.cfg: your extra custom macros (bed mesh, etc.)
# - sensors/accelerometers_dual_adxl345.cfg: accelerometer / input shaper setup
# - macros/bed_mesh.cfg: bed mesh settings and profiles
# - macros/resonance_tuning.cfg: resonance / input shaper test macros
# - macros/spoolman.cfg: Spoolman integration macros
# -----------------------------------------------------------------------------

# System files
[include mainsail.cfg]
[include macros.cfg]
[include prusa-mini-plus.cfg]
[include shell_command.cfg]
[include macros/custom_macros.cfg]

# Our own files (they are not overwritten by updates)
[include sensors/accelerometers_dual_adxl345.cfg]
[include macros/bed_mesh.cfg]
[include macros/resonance_tuning.cfg]
[include macros/spoolman.cfg]

#[include xxx.cfg]
#[include xxx.cfg]
#[include xxx.cfg]

# MCU - Find it using SSH:  ls /dev/serial/by-id/
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_prusa-buddy-if00
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 5.0

[gcode_arcs]
resolution: 0.1

[virtual_sdcard]
path: ~/printer_data/gcodes

[pause_resume]

[display_status]

[respond]

[input_shaper]
shaper_type_x: mzv
shaper_freq_x: 70
shaper_type_y: mzv
shaper_freq_y: 70

[idle_timeout]
timeout: 600

[force_move]
enable_force_move: True

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK BY HAND
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.045417, 0.076251, 0.072084, 0.091334, 0.119417
#*# 	0.017751, 0.027917, -0.002083, 0.041417, 0.047917
#*# 	-0.016749, 0.013667, 0.000584, -0.000583, 0.042001
#*# 	0.054501, 0.176584, 0.237001, 0.183667, 0.159084
#*# 	0.062417, 0.119501, 0.034501, 0.140334, 0.130751
#*# 	0.051167, -0.039666, -0.003416, -0.035916, -0.022166
#*# 	0.113251, 0.131584, -0.042166, 0.005751, -0.086333
#*# 	0.129917, 0.057417, -0.040083, -0.260083, -0.261749
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 150.0
#*# min_y = 20.0
#*# max_y = 170.0