# === BED MESH ===
# Version: 1.2
#
# Utökat meshområde för Prusa MINI+.
# Adaptive mesh används med 10 mm marginal runt utskriftsområdet.

[bed_mesh]
speed: 120
horizontal_move_z: 3

mesh_min: 5, 5
mesh_max: 155, 175

probe_count: 5, 5
adaptive_margin: 10

fade_start: 0.3
fade_end: 5.0

algorithm: bicubic
zero_reference_position: 90, 90