# ==================================================================================================
# === FILE: bed_mesh.cfg
# === PRINTER: Prusa MINI+
# === CLEAN VERSION: v1.1
# === NOTE: Probe area and mesh behavior preserved.
# ==================================================================================================

[bed_mesh]
speed: 120
horizontal_move_z: 3
mesh_min: 30, 20
mesh_max: 150, 170
probe_count: 5, 5
fade_start: 0.3
fade_end: 5.0
algorithm: bicubic
zero_reference_position: 90, 90
