# spoolman.cfg
# Cheat sheet:
# - SET_ACTIVE_SPOOL ID=<n>: select a specific spool in Spoolman
# - CLEAR_ACTIVE_SPOOL   : clear active spool information
# These macros require the Moonraker Spoolman extension.

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}